__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.ipynb_checkpoints
*.log
.git
.gitignore
.pytest_cache/
.coverage
htmlcov/
.DS_Store
logs/
data/01_raw/*
data/02_intermediate/*
data/03_primary/*
data/04_model/*
data/05_model_input/*
data/06_reporting/*
data/07_pipeline/*
data/08_reporting/*
!data/01_raw/.gitkeep
!data/02_intermediate/.gitkeep
!data/03_primary/.gitkeep
!data/04_model/.gitkeep
!data/05_model_input/.gitkeep
!data/06_reporting/.gitkeep
!data/07_pipeline/.gitkeep
!data/08_reporting/.gitkeep
